Problem definition: https://adventofcode.com/2018/day/9

# Part 1

In [1]:
class Node:
    def __init__(self, value):
        self.value = value
        self.prev = None
        self.next = None

In [18]:
def marble_mania(num_players, num_marbles):
    scores = [0] * (num_players + 1)
    marble = Node(0)
    marble.next = marble
    marble.prev = marble
    current_marble = marble
    for i in range(1, num_marbles + 1):
        if i % 23 == 0:
            scores[i % num_players] += i
            aux = current_marble
            for j in range(7):
                aux = aux.prev
            scores[i % num_players] += aux.value
            current_marble = aux.next
            current_marble.prev = aux.prev
            aux.prev.next = current_marble
            del aux
        else:
            new_marble = Node(i)

            marble1 = current_marble.next
            marble2 = marble1.next
            marble1.next = new_marble
            marble2.prev = new_marble
            new_marble.prev = marble1
            new_marble.next = marble2

            current_marble = new_marble
    return max(scores)

In [19]:
marble_mania(7, 25)

32

* 10 players; last marble is worth 1618 points: high score is 8317
* 13 players; last marble is worth 7999 points: high score is 146373
* 17 players; last marble is worth 1104 points: high score is 2764
* 21 players; last marble is worth 6111 points: high score is 54718
* 30 players; last marble is worth 5807 points: high score is 37305

In [20]:
marble_mania(10, 1618)

8317

In [21]:
marble_mania(13, 7999)

146373

In [22]:
marble_mania(17, 1104)

2764

In [23]:
marble_mania(21, 6111)

54718

In [24]:
marble_mania(30, 5807)

37305

404 players; last marble is worth 71852 points

In [25]:
marble_mania(404, 71852)

434674

# Part 2

404 players; last marble is worth 7185200 points

In [26]:
marble_mania(404, 7185200)

3653994575